body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f5f7;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: hsl(  0,  0%,  22%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color:hsl(240, 92%, 95%);}


ul.topnav li a.active {background-color: hsl(164, 39%, 72%);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
